name: First Workflow
on: [push, workflow_dispatch]
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Get info
        run: |
          hostname
          pwd
          ls -l /
      - name: Create a file
        run: |
          ls -al
          echo  "One line" | tee myfile.log
          ls -al
      - name: A final step
        run: ls -al
    second-job:
      run-on: ubuntu-latest
      steps:
        - name: check file there
          run: |
            hostname
            pwd
            ls -al